{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "2015"
    },
    "extends": [
        "react-app",
        "plugin:gatsby/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "gatsby",
        "jsx-a11y"
    ],
    "rules": {
    //     "no-anonymous-exports-page-templates": "warn",
    //     "limited-exports-page-templates": "warn"
        "jsx-a11y/no-noninteractive-tabindex": "warn"
    }
}