
$colorPurple: #531946;
$colorDarkPurple: #30162B;
$colorWhite: #fff;
$colorBlue: #095169;


@mixin perimeter {
    border-radius: 5px;
    padding: 5px 20px;
}


.header {
    background-color: $colorPurple;
    @include perimeter;
    
    & a {
        color: $colorWhite;
        & :hover {
            color: $colorBlue;
        }    
    } 
}
    
      
.footer {
    @include perimeter;
    background-color: $colorDarkPurple;
    color: $colorWhite;
    & a {
        color: $colorBlue;
        & :hover {
            color: $colorWhite;
        }    
    } 
}


.feature a {
    @include perimeter;
    background-color: $colorDarkPurple;
    color: $colorWhite;
    & :hover {
        color: $colorPurple;
    }    
}

.content {
    background-color: $colorWhite;
    color: #222;
    @include perimeter;
}